{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        .bg-primary, .btn-primary, .bg-primary, .primary {
            background-color: blueviolet !important;
            border-color: darkviolet;
        }
        .form-control:focus,.btn-primary:focus {
            border-color: blueviolet;
            box-shadow: inset 0 1px 1px mediumvioletred, 0 0 8px darkviolet;
        }

    </style>
    <title>{% block title %}LarChain{% endblock %}</title>
</head>
<body>
<a href="{% url 'index' %}" style="text-decoration: none;"><h1 class="bg-primary text-center py-5" style="color: white;">Welcome to LarChain</h1></a>

<div class="card text-center container-fluid col-lg-5 col-12">
    {% if message %}
        <b class="text-danger">{{ message }}</b>
    {% endif %}

    {% block theForm %}
{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>
</html>